<html>
<head>
	<title>Assignments</title>
       <%= stylesheet_link_tag "assignmnetspage.css" %>       
</head>
<body>
		 <div class="main-content">
    		<div class="top-menu">    
      			<div class="image-sec">
					 	<%= image_tag ("studyzone1.png")%>
      			</div>
				 <div class="course_mycourses" id="a">
			        <a Class="course_mycourses_link" href="profile.html" style="text-decoration:none">Home</a>
				</div>	
				<div class="course_mycourses1" id="a">
			        <a Class="course_mycourses_link" href="courses.html" style="text-decoration:none">My courses</a>
				</div>
      			<nav>
        			<ul class="user-name">
         				 <li class="user-name">
           					 <a href="#" class="user-name">Mohsin Vindhani</a>
           						 <ul>
              						<li><a href="#">Settings</a></li>
             						<li><a href="#">Previous Records</a></li>
             						<li><%= link_to "Sign out",root_path %></li>
            					</ul>
         				 </li>
       				</ul>
      			</nav>
   			 </div>
		</div>
		<div class="assignments_content">
			<div class="course_deadlines">
				<h2 align="center">Upcoming Deadlines</h2>
				<hr/>
				<div>
					<ul>
						<li>Assignment 3 submission on 18/09/2013.</li>
						<li>Quiz 2 on 25/09/2013.</li>
						<li>Assignment 4 Submission on 27/09/2013.</li>
					</ul>
				</div>
			</div>
			<div class="course_links_box">
				<p>
					<a href="lecturenotespage.html" class="course_links">
						Lecture Notes
					</a>
				</p>
				<hr/>
				<p>
					<a href="assignmentspage.html" class="course_links">
						Assignments
					</a>
				</p>
				<hr/>
				<p>
					<a href="forumspage.html" class="course_links">
						Forums
					</a>
				</p>
			</div>
			<div class="assignments_course_name">
				<a href="coursepage.html" style="text-decoration:none;color:rgb(46,142,214);font-size:20">
					<h1>Human Factors in Design</h1>
				</a>
			</div>
			<div class="assignments_list">
				<div class="assignment1">
					<div class="assignments_list_heading">
						<h3>Assignment 1</h3>
					</div>
					<div class="assignments_list_duedate">
						<b>Due Date</b> 13/08/2013
					</div>
					<div class="assignments_list_link">
						<a class="assignments_list_link" href="#">Click here for assignment1</a>
					</div>
					<div>
						<b>Note:</b> Submit the assignment before deadline. Late submission are not encouraged. Don't copy from others.
					</div>
					<div>
					<form action="#" method="get" name="input">
						<p>
							Submit your assignment 
							<input class="assignments_submit" type="submit" value="Here"/>
						</p>
					</form>
					</div>
				</div>
				<hr class="assignments_hr"/>
				<div class="assignment2">
					<div class="assignments_list_heading">
						<h3>Assignment 2</h3>
					</div>
					<div class="assignments_list_duedate">
						<b>Due Date</b> 25/08/2013
					</div>
					<div class="assignments_list_link">
						<a class="assignments_list_link" href="#">Click here for assignment2</a>
					</div>
					<div>
						<b>Note:</b> Submit the assignment before deadline. Late submission are not encouraged. Don't copy from others.
					</div>
					<div>
					<form action="#" method="get" name="input">
						<p>
							Submit your assignment 
							<input class="assignments_submit" type="submit" value="Here"/>
						</p>
					</form>
					</div>
				</div>
				<hr class="assignments_hr"/>
				<div class="assignment3">
					<div class="assignments_list_heading">
						<h3>Assignment 3</h3>
					</div>
					<div class="assignments_list_duedate">
						<b>Due Date</b> 18/09/2013
					</div>
					<div class="assignments_list_link">
						<a class="assignments_list_link" href="#">Click here for assignment3</a>
					</div>
					<div>
						<b>Note:</b> Submit the assignment before deadline. Late submission are not encouraged. Don't copy from others.
					</div>
					<div>
					<form action="#" method="get" name="input">
						<p>
							Submit your assignment 
							<input class="assignments_submit" type="submit" value="Here"/>
						</p>
					</form>
					</div>
				</div>
				<hr class="assignments_hr"/>
				<div class="assignment4">
					<div class="assignments_list_heading">
						<h3>Assignment 4</h3>
					</div>
					<div class="assignments_list_duedate">
						<b>Due Date</b> 27/09/2013
					</div>
					<div class="assignments_list_link">
						<a class="assignments_list_link" href="#">Click here for assignment4</a>
					</div>
					<div>
						<b>Note:</b> Submit the assignment before deadline. Late submission are not encouraged. Don't copy from others.
					</div>
					<div>
					<form action="#" method="get" name="input">
						<p>
							Submit your assignment 
							<input class="assignments_submit" type="submit" value="Here"/>
						</p>
					</form>
					</div>
				</div>
			</div>
		</div>
</body>
</html>
