<html>
<head>
	<title>Terms and Declaration</title>
	<style type="text/css" rel="stylesheet">
		.heading{
			text-align:center;
		}
	</style>
</head>
<body>
	<div>
		<p>
			<h2 class="heading">Declaration</h2>
		</p>
		<p>
			This website is only for study purposes. We are doing a course on human factors in website design and we want to study human factors
			in human factors in computer interface as a part of project. This website is not for commersial use. This doesn't contain any
			back end code. Please provide your valuable feedback <a href="index.html">here</a>
		</p>
		<hr/>
		<p>
			<h2 class="heading">Terms</h2>
		</p>
			Don't use user interface for your own websites. This is just a request.
			Please provide your valuable feedback.
		<p>
			
		</p>
		<hr/>
		<p>
			<h2 class="heading">Team</h2>
		</p>
		<p>
			<p>Akshay Kumar Gupta, Third year undergraduate student, Engineering Design Dept.,IIT Madras.</p>
			<p>Vindhani Mohsin Asif, Third year undergraduate student, Engineering Design Dept.,IIT Madras.</p>
			<p>Kotha Bharath Kumar, Third year undergraduate student, Engineering Design Dept.,IIT Madras.</p>
		</p>
	</div>


</body>
</html>
