<!DOCTYPE html>
<html>
<head>
  <title>DSlotWebsite</title>
  <%= javascript_include_tag "application" %>
  <%= yield :javascript_includes %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Donegal+One' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>
<script type="text/javascript">
        var _mfq = _mfq || [];
        (function () {
        var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/886a27e7-068f-46c0-80d6-3fdc8e43c2d4.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
      })();
    </script>
<script type="text/javascript">
	var loop11_key = "c9b6b3a07b070f13cf471c20b19e88d287fcbbf1";	
	var loop11_pp = [100, 19996];
	var l11_host = (("https:" == document.location.protocol) ? "https://" : "http://");
	document.write(unescape("%3cscript src='" + l11_host +"www.loop11.com/media/triton/js/embed.js' type='text/javascript'%3e%3c/script%3e"));
</script>
<script type="text/javascript">
	var loop11_key = "c9b6b3a07b070f13cf471c20b19e88d287fcbbf1";
	var l11_host = (("https:" == document.location.protocol) ? "https://" : "http://");
	document.write(unescape("%3cscript src='" + l11_host +"www.loop11.com/media/triton/js/embed.js' type='text/javascript'%3e%3c/script%3e"));
</script>
</body>
</html>
